<!DOCTYPE html>
<html>
<head>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <title>Matches Statistics</title>
</head>
<body>
<div class="container">
    <h1 class="text-center my-5">Matches Statistics</h1>
    <div class="row">
        <div class="col-md-6">
            <a class="btn btn-primary btn-block my-3" href="events?numberOfEvents=10">View Upcoming Matches</a>
        </div>
        <div class="col-md-6">
            <a class="btn btn-secondary btn-block my-3" href="/teams/sr:competition:7">View Teams</a>
        </div>
    </div>
</div>
</body>
</html>